<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.mytodolist.mappers.LoginMapper">
    <sql id="memberColumns">
       id, email, name, pw as pw1
    </sql>

    <insert id="addMember" parameterType="com.kitri.mytodolist.login.SignupFormDto">
        INSERT INTO member (
        email, name, pw
        ) VALUES (
        #{email}
        , #{name}
        , #{pw1}
        )
    </insert>

    <select id="findMember" parameterType="String" resultType="com.kitri.mytodolist.login.SignupFormDto">
        SELECT <include refid="memberColumns"/> FROM member WHERE email = #{email}
    </select>
</mapper>